process {
  cache = 'lenient'

  executor='sge'
  clusterOptions = '-l mem=64G'

  cpus = 1
  penv = 'smp'
  time = 12.h

  withName: 'genebody_coverage' {
    time=24.h
  }
  withName: 'hisat2_sortOutput' {
    time=24.h
  }
  withName: 'star' {
    time=24.h
  }

  withName: 'dupradar' {
    cpus=2
  }

  withName:workflow_summary_mqc{
    memory = 8.Gb 
    cpus = 1
  }

  beforeScript = 'source $HOME/.bashrc;module load blic-modules bioconda/4.5.11';
  echo = true

  $markDuplicates.module = ['java/1.8.0_92', 'picard-tools/2.18.9']
  $get_software_versions.module = ['java/1.8.0_92', 'picard-tools/2.18.9']

}

params {

  help = false

  // Pipeline Options
  name = false
  project = false
  aligner = 'star'
  genome = false
  forward_stranded = false
  reverse_stranded = false
  unstranded = false
  splicesites = false
  saveReference = false
  saveTrimmed = false
  saveAlignedIntermediates = false
  singleEnd = false
  reads = "data/*{1,2}.fastq.gz"
  outdir = './results'
  email = false
  plaintext_email = false
  seqCenter = false
  skip_qc = false
  skip_fastqc = false
  skip_rseqc = false
  skip_genebody_coverage = false
  skip_preseq = false
  skip_dupradar = false
  skip_edger = false
  skip_multiqc = false
  multiqc_config = "$baseDir/assets/multiqc_config.yaml"

  // Custom trimming options
  pico = false
  clip_r1 = 0
  clip_r2 = 0
  three_prime_clip_r1 = 0
  three_prime_clip_r2 = 0

  // AWS Batch
  awsqueue = false
  awsregion = 'eu-west-1'

  // Defaults
  sampleLevel = false
  clusterOptions = false
  hisatBuildMemory = 200 // Required amount of memory in GB to build HISAT2 index with splice sites
  subsampFilesizeThreshold = 10000000000 // Don't subsample BAMs for RSeQC gene_body_coverage if less than this
  maxMultiqcEmailFileSize = 25.MB
  readPaths = null
  tracedir = "${params.outdir}/pipeline_info"
  star_memory = false // Cluster specific param required for hebbe
 
  genomes {
    'hg19'      { star = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg19/Sequence/STARIndex/"
                    hisat2 = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg19/Sequence/hisat2Index/"
                    kallisto = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg19/Annotation/Genes/Homo_Sapiens_hg19_api75_all.k31.idx"
                    fasta = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
                    //gtf = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.gtf"
		    gtf = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes_biotype_hg19.gtf"
		    gtf_rRNA = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes_biotype_hg19_plusrRNA.gtf"
		    bed12 = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg19/Annotation/Genes/genes.bed"
                  }
    'hg38'      { star = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg38/Sequence/STARIndex/"
                    hisat2 = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg38/Sequence/hisat2Index/"
                    kallisto = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg38/Annotation/Genes/Homo_Sapiens_hg38_api92_all.k31.idx"
                    fasta = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/genome.fa"
                    //gtf = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg38/Annotation/Genes/genes.gtf"
		    gtf = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg38/Annotation/Genes/genes_biotype_hg38.gtf"
		    gtf_rRNA = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg38/Annotation/Genes/genes_biotype_hg38_plusrRNA.gtf"  
		    bed12 = "/scratch/scratch/regmr01/Homo_sapiens/UCSC/hg38/Annotation/Genes/genes.bed"              
		}
    'mm10'      {   star = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm10/Sequence/STARIndex/"
                    hisat2 = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm10/Sequence/hisat2Index/"
                    kallisto = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm10/Annotation/Genes/Mus_Musculus_mm10_api90_all.k31.idx"
                    fasta = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa"
                    gtf = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm10/Annotation/Genes/genes_biotype_mm10.gtf"
		    gtf_rRNA = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm10/Annotation/Genes/genes_biotype_mm10_plusrRNA.gtf" 
		    //gtf = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm10/Annotation/Genes/genes.gtf"
                    bed12 = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm10/Annotation/Genes/genes.bed"
                  }

    'mm9'      {   star = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm9/Sequence/STARIndex/"
                    hisat2 = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm9/Sequence/hisat2Index/"
                    kallisto = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm9/Annotation/Genes/Mus_Musculus_mm9_api67_all.k31.idx"
                    fasta = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm9/Sequence/WholeGenomeFasta/genome.fa"
                    gtf = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm9/Annotation/Genes/genes_biotype_mm9.gtf"
                    gtf_rRNA = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm9/Annotation/Genes/genes_biotype_mm9_plusrRNA.gtf"
                    //gtf = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm9/Annotation/Genes/genes.gtf"
                    bed12 = "/scratch/scratch/regmr01/Mus_musculus/UCSC/mm9/Annotation/Genes/genes.bed"
                  }

  }
}

/////////////////////////////////////////////////////////////////////////
// This should work but it doesn't
// I need to manually remnove the manifest.version instances from main.nf
//	otherwise it crashes with confusing StackOverflow errors 
//////////////////////////////////////////////////////////////////////////
manifest {
    homePage = 'http://foo.com'
    description = 'nf-core RNAseq pipeline with kallisto'
    mainScript = 'main.nf'
    version = '1.0.0'
}

